.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main {
  flex-grow: 1;  
  padding: var(--padding-medium);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large);  
  
  background-color: var(--color-primary);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-medium);
  position: relative;
}

@media screen and (max-width: 400px) {
  .form {
    flex-direction: column;
  }
}

.error {
  position: absolute;
  bottom: -30px;
  margin: 0;
  color: red;
  font-size: var(--font-size-medium);
}

@media screen and (max-width: 600px) {
  .error {
    font-size: var(--font-size-small);
  }
}

.table {
  width: 70%;
  color: var(--color-dark-gray);
  font-size: var(--font-size-medium);
  border-collapse: collapse;
}

@media screen and (max-width: 900px) {
  .table {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .table {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .table {
    width: 100%;
    font-size: var(--font-size-small);
  }
}

.tbody tr {
  border-bottom: 1px solid var(--color-dark-gray)
}

.tbody tr:first-child {
  border-top: 1px solid var(--color-dark-gray)
}

.tbody tr:last-child {
  border-bottom: none;
}

.cell {
  padding: 5px;
}
